<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/pay.css">
    <title>CampusShop</title>
    <link href="https://fonts.googleapis.com/css2?family=Gurajada&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

</head>
<body>
    
    
    <header class="header">
        <i class='bx bx-cart-add'></i>
        <div class="productos">
            <a href="">Producto 1</a>
            <a href="">Producto 2</a>
            <a href="">Producto 3</a>
            <a href="">Producto 4</a>
            <a href="">Producto 5</a>
            <a href="">Producto 6</a>
            <a href="">Producto 7</a>
            <a href="">Producto 8</a>
        

        </div>
    </header>
        <main>
            <section class="page__1">
           
                <div class="ventana">
                    <div class="ventana__1">
                            <a href="/index.html">
                                <i class='bx bxs-x-circle' ></i>

                            </a>
                            <div class="img__ventana">
                                    <img src="../storage/img/gato__1.jpg" alt="">
                            </div>
                                    <div class="texto__ventana">
                                            <h4>Nombre del producto</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ex cumque mollitia corrupti ea cum rerum tempora eum autem consequatur architecto assumenda aut unde fuga, quaerat incidunt aspernatur voluptatem inventore!

                                                </p>
                                    </div>
                                <div class="precio__ventana">
                                    <p>$100.000</p><p>$99.99</p>
                                </div>

                                <div class="bottom">
                                        <div class="cantidad">
                                            <p>Cantidad</p>

                                        </div>
                                        <button>Agregar</button>
                                </div>
                    </div>    
                </div>
                        <div class="left">
                            <img src="../storage/img/gato__1.jpg" alt="">
                            <img src="../storage/img/gato__1.jpg" alt="">
                            <img src="../storage/img/gato__1.jpg" alt="">
                            <img src="../storage/img/gato__1.jpg" alt="">


                        </div>
                    <div class="right">
                        <div class="img__right__1">
                                <img src="../storage/img/gato__1.jpg" alt="">
                            
                        </div>
                                <div class="description">
                                    <h2>Nombre del Producto</h2>
                                        
                                                <div>
                                                    <i class='bx bxs-star' ></i>
                                                    <i class='bx bxs-star' ></i>
                                                    <i class='bx bxs-star' ></i>
                                                    <i class='bx bxs-star' ></i>
                                                    <i class='bx bxs-star-half' ></i>
                                                </div>
                                        
                                                
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, reprehenderit ipsa. Dicta eius, autem inventore nobis dolores accusantium quia aperiam ea laudantium? Itaque sequi eaque alias dignissimos impedit nisi numquam.
                                                    </p>
                                            
                                            <div class="price">
                                                    <p>$100.000</p><p>$99.99</p>
                                            </div>
                                                <div class="boton">
                                                    <button>Comprar</button>
                                                </div>
                                </div>
                    </div>
        
        </section>
             <section class="page__2">
            <div class="left">
                <img src="../storage/img/gato__1.jpg" alt="">
                <img src="../storage/img/gato__1.jpg" alt="">
                <img src="../storage/img/gato__1.jpg" alt="">
                <img src="../storage/img/gato__1.jpg" alt="">


            </div>
        <div class="right">
            <div class="img__right__2">
                    <img src="../storage/img/gato__1.jpg" alt="">
                
            </div>
                    <div class="description">
                        <h2>Nombre del Producto</h2>
                               
                                    <div>
                                        <i class='bx bxs-star' ></i>
                                        <i class='bx bxs-star' ></i>
                                        <i class='bx bxs-star' ></i>
                                        <i class='bx bxs-star' ></i>
                                        <i class='bx bxs-star-half' ></i>
                                    </div>
                             
                                    
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, reprehenderit ipsa. Dicta eius, autem inventore nobis dolores accusantium quia aperiam ea laudantium? Itaque sequi eaque alias dignissimos impedit nisi numquam.
                                        </p>
                                
                                <div class="price">
                                        <p>$100.000</p><p>$99.99</p>
                                </div>
                                    <div class="boton">
                                        <button>Comprar</button>
                                    </div>
                    </div>
        </div>
        </section>
            <section class="page__3">
            <div class="left">
                <img src="../storage/img/gato__1.jpg" alt="">
                <img src="../storage/img/gato__1.jpg" alt="">
                <img src="../storage/img/gato__1.jpg" alt="">
                <img src="../storage/img/gato__1.jpg" alt="">


            </div>
        <div class="right">
            <div class="img__right__3">
                    <img src="../storage/img/gato__1.jpg" alt="">
                
            </div>
                    <div class="description">
                        <h2>Nombre del Producto</h2>
                               
                                    <div>
                                        <i class='bx bxs-star' ></i>
                                        <i class='bx bxs-star' ></i>
                                        <i class='bx bxs-star' ></i>
                                        <i class='bx bxs-star' ></i>
                                        <i class='bx bxs-star-half' ></i>
                                    </div>
                             
                                    
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, reprehenderit ipsa. Dicta eius, autem inventore nobis dolores accusantium quia aperiam ea laudantium? Itaque sequi eaque alias dignissimos impedit nisi numquam.
                                        </p>
                                
                                <div class="price">
                                        <p>$100.000</p><p>$99.99</p>
                                </div>
                                    <div class="boton">
                                        <button>Comprar</button>
                                    </div>
                    </div>
        </div>
        </section>
             <section class="page__4">
            <div class="left">
                <img src="../storage/img/gato__1.jpg" alt="">
                <img src="../storage/img/gato__1.jpg" alt="">
                <img src="../storage/img/gato__1.jpg" alt="">
                <img src="../storage/img/gato__1.jpg" alt="">


            </div>
        <div class="right">
            <div class="img__right__4">
                    <img src="../storage/img/gato__1.jpg" alt="">
                
            </div>
                    <div class="description">
                        <h2>Nombre del Producto</h2>
                               
                                    <div>
                                        <i class='bx bxs-star' ></i>
                                        <i class='bx bxs-star' ></i>
                                        <i class='bx bxs-star' ></i>
                                        <i class='bx bxs-star' ></i>
                                        <i class='bx bxs-star-half' ></i>
                                    </div>
                             
                                    
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, reprehenderit ipsa. Dicta eius, autem inventore nobis dolores accusantium quia aperiam ea laudantium? Itaque sequi eaque alias dignissimos impedit nisi numquam.
                                        </p>
                                
                                <div class="price">
                                        <p>$100.000</p><p>$99.99</p>
                                </div>
                                    <div class="boton">
                                        <button>Comprar</button>
                                    </div>
                    </div>
        </div>
        </section>

   

        


        </main>

   
    
</body>
</html>